#allPage {
  width: 980px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

#header {
  box-shadow: 1px 1px 1px #C0C0C0;
  background-image: url('images/small logo.png');
  background-position: left;
  background-repeat: no-repeat;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: small;
  text-align: right;
}

a {
  color: #333333;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  
}

h3 {
  font-size: x-large;
  color: #916647;
  font-variant: small-caps;
  text-transform: capitalize;
}

h5 {
  font-variant: small-caps;
  text-transform: capitalize;
  color: #906546;
}

td {
  font-size: small;
  font-style: italic;
  padding: 10px;
}

.auto-style2 {
  border-width: 0px;
  float: right;
  margin-left: 6px;
  padding-top: 10px;
}

body {
  padding: 5px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: #333333;
  background-color: #F9F3EC;
}
nav a:hover {
	color: #CBA374;
}

nav ul {
  list-style-type: none;
  padding-left: 0;
  border-top: 1px solid #EEEEEE;
}

nav li {
  border-bottom: 1px solid #EEEEEE;
  text-align: center;
  padding-top: .5em;
  padding-bottom: .5em;
}

nav a {
  text-decoration: none;
  font-weight: bold;
}

#footer {
  color: white;
  background-color: #906546;
}

#copyright {
  font-size: x-small;
}

#footer a {
  color: white;
  text-decoration: none;
}

#footer a:hover {
  color: #333333;
  background-color: #CBA374;
}

.FloatRightTable {
  text-align: right;
}

.floatupright {
  text-align: right;
  vertical-align: top;
}